{{ $d := .Data }}
{{ $h := .Helpers }}

<div class="container">
  <div class="card mt-4 mb-2">
    <div class="card-header">Wifi Rates List</div>
    <div class="card-body">
      <div class="container-fluid">
        <form
          method="POST"
          action='{{ $h.UrlForRoute "admin:rates:save" }}'
        >
          <div class="row my-2">
            <div class="col col-sm-4">
              <label class="form-label">Network</label>
              <input
                class="form-control ps-2 border"
                type="text"
                name="network"
                value="{{ $d.network }}"
              />
            </div>
          </div>

          <hr class="dark horizontal my-4" />

          {{ range $rate := $d.rates }}

          <div class="row wifi-rate-item">
            <input type="hidden" name="uuid" value="{{ $rate.Uuid }}" />
            <div class="col-sm-3 align-middle mt-3">
              <label class="form-label">Amount</label>
              <input
                class="form-control border ps-2"
                type="number"
                name="amount"
                value='{{ $rate.Amount | printf "%0.2f" }}'
              />
            </div>

            <div class="col-sm-3 align-middle mt-3">
              <label class="form-label">Minutes</label>
              <input
                class="form-control border ps-2"
                type="number"
                name="time_mins"
                value="{{ $rate.TimeMins }}"
              />
            </div>

            <div class="col-sm-3 align-middle mt-3">
              <label class="form-label">Megabytes</label>
              <input
                class="form-control border ps-2"
                type="number"
                name="data_mbytes"
                value="{{ $rate.DataMbytes }}"
              />
            </div>

            <div class="col-sm-3 d-flex justify-content-end mt-3">
              <a
                href='{{ $h.UrlForRoute "admin:rates:delete"  "uuid"  $rate.Uuid }}'
                class="btn btn-danger align-self-end"
                >Delete</a
              >
            </div>
          </div>
          <hr class="border" />
          {{ end }}

          <!-- New rate form -->
          <div
            id="new-rate-form"
            class="row wifi-rate-item"
            style="display: none"
          >
            <input
              id="new-rate-checkbox"
              type="checkbox"
              name="new_rate"
              style="display: none"
            />
            <input type="hidden" name="uuid" value="" />
            <div class="col-sm-3 align-middle mt-3">
              <label class="form-label">Amount</label>
              <input
                class="form-control ps-2 border border-2"
                type="number"
                name="amount"
                value="0"
              />
            </div>

            <div class="col-sm-3 align-middle mt-3">
              <label class="form-label">Minutes</label>
              <input
                class="form-control ps-2 border border-2"
                type="number"
                name="time_mins"
                value="0"
              />
            </div>

            <div class="col-sm-3 align-middle mt-3">
              <label class="form-label">Megabytes</label>
              <input
                class="form-control ps-2 border border-2"
                type="number"
                name="data_mbytes"
                value="0"
              />
            </div>

            <div class="col-sm-3 d-flex justify-content-end text-end mt-3">
              <a id="cancel-new-rate" class="btn btn-warning align-self-end">Cancel</a>
            </div>
          </div>
          
          <div class="mt-2 text-end">
            <a id="new-rate-btn" href="javascript:" class="btn btn-primary mt-2"
              >New Rate</a
            >
            <button type="submit" class="btn btn-success mt-2">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
